extends ../layout

block content
	.container
		.row
			div.showInfo
				div.personimg.col-md-4
					div.IMG
						img.class-rounded.showIMg(src="../image/photo/#{id}/#{photo}")
				div.anotherInfo.col-md-6
					div.iii
						label
							span.anothername #{name}
							a(href="/chat/#{id}")
								span.btn.btn-default#chat Chat with
					hr
					label
					|	#{introduce}

				


			